{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="content-section">
                <div class="media" style="display: flex; justify-content: center;">
                  <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                </div>
                <div class="media-body">
                    <h4 class="account-heading text-center">Username: {{ user.username }}</h4>
                    <p class="text-secondary text-center">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-secondary text-center">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-3">
                <legend class="border-bottom pt-3 mb-4">
                    Change password
                </legend>
                <form method="post" class= "ml-4">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-outline-dark mb-4" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}








