{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="rounded">
    <div class="card p-4 login" style="max-width: 25rem;">
        <form method="POST" class="p-3">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 text-center">Reset Password</legend>
            </fieldset>
            {{ form | crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-dark" style="width: 100%;">Request New Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}