{% load static %}
  <nav class="home_nav">
  <div class="wrapper container-fluid">
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links ulink">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      {%for main_category in main_categories %}
      <li class="mx-3 px-1 pt-1 category">
        <a href="{% url 'category_detail' main_category.slug %}" class="desktop-item {%if main_category.subcategory_set.all %}dropdown-toggle{%endif%} ">
          <span class="font-weight-bold">{{main_category.main_category}}</span>
        </a>
        <input type="checkbox" id="id{{main_category.id}}">
        <label for="id{{main_category.id}}" class="mobile-item"><a href="{% url 'category_detail' main_category.slug %}">{{main_category.main_category}}</a></label>
        {%if main_category.subcategory_set.all %}
        <div class="mega-box" style="background:#8CA1A5;">
          <div class="content">
            <div class="row">
              {%for sub in main_category.subcategory_set.all%} 
                  {%if sub.specificcategory_set.all %}
                    <div class="col-3 py-3">
                      <a href="{% url 'sub_category_detail' sub.slug %}" class="font-weight-bold">{{sub.sub_category}}</a>
                      <ul class="mega-links">
                      {%for spec in sub.specificcategory_set.all%}
                        <li class="sub_cat mt-1 ml-2"><a href="{% url 'specific_category_detail' spec.slug %}">{{spec.specific_category}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </li>
      {%endfor %}
    </ul>
    <label for="menu-btn" class="btn menu-btn my-1"><i class="fas fa-bars"></i> <span class="pl-2">Category</span></label>
  </div>
</nav>